body { background-color: #999999; }

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
}

.p1, .p2 {
  border: 1px solid #ff0000;
}

.floatimage {
  margin: 20px;
  float: left;
}

.p2 {
  clear: both;
}

/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


nav li {
  float: left;
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px;
}


nav li {
  display: inline;
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px;
}


nav li {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px;
}


body { background-color: #999999; }

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
}

.box {
  border: 1px solid blue;
}
#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}


#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}


header {
  grid-column: span 12;
}

nav {
  grid-column: span 3;
}

main {
  grid-column: span 9;
}

footer {
  grid-column: span 12;
}

#wrapper {
  margin: 1em auto;
  padding: 0;
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 75px;
}
