p {
 color: #ff0000;
}
p{
background-color: #BF7F3F;
}
#specialid {
color: #114470;
}
.specialp {
 color: #BF3F7F;
}
a {
 color: #BF7F3F;
}
a:link {
 color: #ff0000;
}
a:visited {
 color: #00ff00;
}
a:active {
 color: #F1C517;
}
a:hover {
 color: ###F8F876;
}
.customtext {
font-family: sans-serif;
font-style: italic;
font-weight: normal;
font-size: 27px;
}
.textcenter {
text-align: center;
}
background-image: url(Zoo.gif);
